<!DOCTYPE html>
<html ng-app="vitamin">
  <head>
    <link rel="icon" href="/images/pear.png" />
    <link rel="stylesheet" href="/bower_components/skeleton/css/normalize.css" />
    <link rel="stylesheet" href="/bower_components/skeleton/css/skeleton.css" />
    <link rel="stylesheet" href='/stylesheets/style.css' />
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/Controllers.js"></script>
    <script type="text/javascript" src="/javascripts/Factories.js"></script>
    <script type="text/javascript" src="/javascripts/Directives/Categories/Categories.js"></script>
    <script type="text/javascript" src="/javascripts/Directives/Cart/cart.js"></script>

    <title ng-bind="$state.current.data.pageTitle"></title>
  </head>
  <body>
    <ui-view></ui-view>
  </body>
</html>
